body {

    background: linear-gradient(135deg, lightblue, blue);
}

header {
    text-align: center;
    
    
}
.imie{
text-align: center;
}
.nazwisko{
text-align: center;
}
.data{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.kalendarz {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    min-height: 76.5vh;  
}

.dzien {
    background: white;
    min-height: 110px;
    max-height: 110px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px gray;
}

.dzien h3 {
    margin: 0;
    text-align: center;
    background: #007bff;
    color: white;
    border-radius: 6px;
    padding: 5px;
}

.zadanie {
    background: #e3f2fd;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
}
.button1{
    background-color: lightblue;

    height: 20px;
}
.button{
    background-color: lightblue;
    height: 20px;
}
.button1:hover {
  background-color: rgb(98, 98, 252);
  color: white;
}
.button:hover {
  background-color: rgb(98, 98, 252);
  color: white;
}
.rozmiar{
    font-size: 50px;
}
#filter_date {
    width: 99px;
    height: 13px;
    margin-left: 10px;
}
.przyciski{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data div {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.data input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#filter_date {
    width: 120px;
    height: auto;
}
